doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= 'Smart lamp'

    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='/static/main.css')


  body
    div(class='container')
      div(style='display: flex; justify-content: space-between')
        h1 Smart lamp
        div(style='text-align: right')
          p(style='margin: 0') Zalogowany jako #{user.email}
          a(href='/logout') Wyloguj
      hr

      div(class='alert alert-primary alert-changes d-none')
        span Od ostatniego załadowania strony pojawiły się nowe zmiany w konfiguracji.
        | 
        a(href='/') Załaduj ponownie

      div(class='row')
        div(class='col-12')
          include panel_config.pug

      div(class='row')
        div(class='col-6')
          include panel_plant.pug
        div(class='col-6')
          include panel_lamp.pug
          include panel_sensors.pug

    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js', integrity='sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=', crossorigin='anonymous')
    script(src='/static/main.js')
