<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart lamp</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <h1>Smart lamp</h1>
      <hr />

      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">Wybrany profil rośliny</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Nazwa:</strong> Pelargonia
              </li>
              <li class="list-group-item">
                <strong>Opis:</strong> Rodzaj bylin lub półkrzewów z rodziny bodziszkowatych
              </li>
              <li class="list-group-item">
                <strong>Czas napromieniowania:</strong> 1300
              </li>
              <li class="list-group-item">
                <strong>Twórca:</strong> sys
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="card mb-3">
            <div class="card-header">Lampa</div>
            <div class="card-body">
              <div class="card-text">
                Status:
                {% if data.lamp.enabled %}
                  <strong style="color: green">włączona</strong>
                {% else %}
                  <strong style="color: red">wyłączona</strong>
                {% endif %}
              </div>
              <div class="card-text">
                Moc świecenia: {{ data.lamp.brightness }}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Czujniki</div>
            <div class="list-group list-group-flush">
              {% for mac, sensor in data.sensors.items() %}
              <a href="/sensor/{{ mac }}"class="list-group-item list-group-item-action {% if not sensor.alive %} disabled {% endif %}">
                <div class="d-flex w-100 justify-content-between">
                  <strong class="mb-1">{{ mac }}</strong>
                  {% if sensor.alive %}
                    <small style="color: green">Aktywny</small>
                  {% else %}
                    <small style="color: red">Nieaktywny</small>
                  {% endif %}
                </div>
                <p class="mb-1">Ostatni odczyt <strong>{{ sensor.last_read_timestamp }}</strong>, odczytana wartość: <strong>{{ sensor.last_read_value }}</strong></p>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>